# Telethon/UserBot files and folders
config.ini
userbot.session
userbot.session-journal
unknown_errors.txt
downloads/
resources/
YT_DL/

# Python's cache folders
__pycache__/*
userbot/__pycache__/*
userbot/plugins/__pycache__/*
userbot/helper_funcs/__pycache__/*
userbot/utils/__pycache__/*
sessions/__pycache__/*

# Sphinx build folders
docs/build/
docs/source/_build/

# Visual Studio Code folder for settings, etc
.vscode/